<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/5_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
counter = 100          # An integer assignment 
miles   = 1000.0       # A floating point 
name    = "John"       # A string 
print (counter) 
print (miles) 
print (name)

100
1000.0
John

In [2]:
str = 'Hello World!' 
print (str)          # Prints complete string 
print (str[0])       # Prints first character of the string 
print (str[2:5])     # Prints characters starting from 3rd to 5th 
print (str[2:])      # Prints string starting from 3rd character 
print (str * 2)      # Prints string two times 
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [3]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ] 
tinylist = [123, 'john'] 
print (list)          # Prints complete list 
print (list[0])       # Prints first element of the list 
print (list[1:3])     # Prints elements starting from 2nd till 3rd  
print (list[2:])      # Prints elements starting from 3rd element 
print (tinylist * 2)  # Prints list two times 
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [4]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  ) 
tinytuple = (123, 'john') 
print (tuple)           # Prints complete tuple 
print (tuple[0])        # Prints first element of the tuple 
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd  
print (tuple[2:])       # Prints elements starting from 3rd element 
print (tinytuple * 2)   # Prints tuple two times 
print (tuple + tinytuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [5]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  ) 
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ] 
tuple[2] = 1000    # Invalid syntax with tuple 
list[2] = 1000     # Valid syntax with list

TypeError: ignored

In [7]:
dict = {} 
dict['one'] = "This is one" 
dict[2]     = "This is two" 
tinydict = {'name': 'john','code':6734, 'dept': 'sales'} 
print (dict['one'])       # Prints value for 'one' key 
print (dict[2])           # Prints value for 2 key 
print (tinydict)          # Prints complete dictionary 
print (tinydict.keys())   # Prints all the keys 
print (dict.values()) # Prints all the values 
print (dict.keys())   # Prints all the keys 
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['This is one', 'This is two'])
dict_keys(['one', 2])
dict_values(['john', 6734, 'sales'])