<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/DataFrame_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
df = pd.DataFrame() 
print (df )

Empty DataFrame
Columns: []
Index: []

In [2]:
import pandas as pd 
data = [1,2,3,4,5] 
df = pd.DataFrame(data) 
print (df )

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
data = [['Alex',10],['Bob',12],['Clarke',13]]  
df = pd.DataFrame(data,columns=['Name','Age'])  
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [4]:
data = [['Alex',10],['Bob',12],['Clarke',13]]  
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)  
print( df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'], 
        'Age':[28,34,29,42]} 
df= pd.DataFrame(data) 
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [7]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'], 
        'Age':[28,34,29,42]} 
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4']) 
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [8]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}] 
df = pd.DataFrame(data) 
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [9]:
data = [{'a': 1, 'b': 2},  
        {'a': 5, 'b': 10, 'c': 20}] 
df = pd.DataFrame(data, index=['first', 'second']) 
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [10]:
data = [{'a': 1, 'b': 2},  
        {'a': 5, 'b': 10, 'c': 20}] 
 
#With two column indices, values same as dictionary keys  
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b']) 
 
#With two column indices with one index with other name  
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1']) 
df1

        a   b
first   1   2
second  5  10

In [11]:
df2

        a  b1
first   1 NaN
second  5 NaN

In [12]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
 
df = pd.DataFrame(d) 
print( df )

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [14]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
 
df = pd.DataFrame(d) 
print( df ['one']) 
df

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4