<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/data_statistic_understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
pima='/content/drive/MyDrive/dataset/pima-indians-diabetes.csv'
headernames = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'] 
df=pd.read_csv(pima,names=headernames )

In [9]:
df.head(2)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0

In [15]:
df.dtypes

preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [16]:
df.describe()

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [27]:
from pandas import set_option
set_option('display.width',1)
# set_option('precision' ,2)
df.describe()

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.00,768.00,768.00,768.00,768.00,768.00,768.00,768.00,768.00
mean,3.85,120.89,69.11,20.54,79.80,31.99,0.47,33.24,0.35
std,3.37,31.97,19.36,15.95,115.24,7.88,0.33,11.76,0.48
min,0.00,0.00,0.00,0.00,0.00,0.00,0.08,21.00,0.00
25%,1.00,99.00,62.00,0.00,0.00,27.30,0.24,24.00,0.00
50%,3.00,117.00,72.00,23.00,30.50,32.00,0.37,29.00,0.00
75%,6.00,140.25,80.00,32.00,127.25,36.60,0.63,41.00,1.00
max,17.00,199.00,122.00,99.00,846.00,67.10,2.42,81.00,1.00

***reviewing class distribution***

In [24]:
cc=df.groupby('class').size()   #total count for 1 and 0 for class variable
cc

class
0    500
1    268
dtype: int64

**Reviewing Correlation between Attributes **

In [25]:
correlations = df.corr(method='pearson') 
print(correlations)

       preg  \
preg   1.00
plas   0.13
pres   0.14
skin  -0.08
test  -0.07
mass   0.02
pedi  -0.03
age    0.54
class  0.22

       plas  \
preg   0.13
plas   1.00
pres   0.15
skin   0.06
test   0.33
mass   0.22
pedi   0.14
age    0.26
class  0.47

       pres  \
preg   0.14
plas   0.15
pres   1.00
skin   0.21
test   0.09
mass   0.28
pedi   0.04
age    0.24
class  0.07

       skin  \
preg  -0.08
plas   0.06
pres   0.21
skin   1.00
test   0.44
mass   0.39
pedi   0.18
age   -0.11
class  0.07

       test  \
preg  -0.07
plas   0.33
pres   0.09
skin   0.44
test   1.00
mass   0.20
pedi   0.19
age   -0.04
class  0.13

       mass  \
preg   0.02
plas   0.22
pres   0.28
skin   0.39
test   0.20
mass   1.00
pedi   0.14
age    0.04
class  0.29

       pedi  \
preg  -0.03
plas   0.14
pres   0.04
skin   0.18
test   0.19
mass   0.14
pedi   1.00
age    0.03
class  0.17

        age  \
preg   0.54
plas   0.26
pres   0.24
skin  -0.11
test  -0.04
mass   0.04
pedi   0.03
age    1.00
class  0.24

       class
preg    0.22
plas    0.47
pres    0.07
skin    0.07
test    0.13
mass    0.29
pedi    0.17
age     0.24
class   1.00

In [34]:
set_option('display.width', 70) 
set_option('precision', 2) 
correlations = df.corr(method='pearson') 
print(correlations)

       preg  plas  pres  skin  test  mass  pedi   age  class
preg   1.00  0.13  0.14 -0.08 -0.07  0.02 -0.03  0.54   0.22
plas   0.13  1.00  0.15  0.06  0.33  0.22  0.14  0.26   0.47
pres   0.14  0.15  1.00  0.21  0.09  0.28  0.04  0.24   0.07
skin  -0.08  0.06  0.21  1.00  0.44  0.39  0.18 -0.11   0.07
test  -0.07  0.33  0.09  0.44  1.00  0.20  0.19 -0.04   0.13
mass   0.02  0.22  0.28  0.39  0.20  1.00  0.14  0.04   0.29
pedi  -0.03  0.14  0.04  0.18  0.19  0.14  1.00  0.03   0.17
age    0.54  0.26  0.24 -0.11 -0.04  0.04  0.03  1.00   0.24
class  0.22  0.47  0.07  0.07  0.13  0.29  0.17  0.24   1.00

***REVIEW SKEW OF ATTRIBUTE DISTIBUTION***

In [35]:
print(df.skew())

preg     0.90
plas     0.17
pres    -1.84
skin     0.11
test     2.27
mass    -0.43
pedi     1.92
age      1.13
class    0.64
dtype: float64