<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/Data_Feature_Selection_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np


from numpy import set_printoptions 

from sklearn.feature_selection import SelectKBest 
from sklearn.feature_selection import chi2

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 
'class'] 

df=pd.read_csv('/content/drive/MyDrive/dataset/pima-indians-diabetes.csv',names=names)

In [9]:
df

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [12]:
array = df.values

In [14]:
X = array[: ,0:8] 
Y = array[:,8]

In [15]:
test=SelectKBest(score_func=chi2,k=4)
fit=test.fit(X,Y)

In [16]:
set_printoptions(precision=2) 
print(fit.scores_) 
featured_data = fit.transform(X) 
print ("\nFeatured data:\n", featured_data[0:4])

[ 111.52 1411.89   17.61   53.11 2175.57  127.67    5.39  181.3 ]

Featured data:
 [[148.    0.   33.6  50. ]
 [ 85.    0.   26.6  31. ]
 [183.    0.   23.3  32. ]
 [ 89.   94.   28.1  21. ]]