<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/Decision_Making.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1 = 100 
if var1: 
   print ("1 - Got a true expression value") 
   print (var1) 
var2 = 0
if var2: 
   print ("2 - Got a true expression value") 
   print (var2) 
print ("Good bye!")

1 - Got a true expression value
100
Good bye!

In [ ]:
amount=int(input("Enter amount: ")) 
if amount<1000: 
    discount=amount*0.05 
    print ("Discount",discount) 
else: 
    discount=amount*0.10 
    print ("Discount",discount) 
     
print ("Net payable:",amount-discount)

Enter amount: 500
Discount 25.0
Net payable: 475.0

In [ ]:
amount=int(input("enter amount"))
if amount<500:
  si=amount*5*5/100
  print(si)
else:
  si=amount*5*4/100
  print(si)

enter amount400
100.0

In [ ]:
amount=int(input("Enter amount: ")) 
 
if amount<1000: 
    discount=amount*0.05 
    print ("Discount",discount) 
elif amount<5000: 
    discount=amount*0.10 
    print ("Discount",discount) 
else: 
    discount=amount*0.15 
    print ("Discount",discount) 
print ("Net payable:",amount-discount)

Enter amount: 500
Discount 25.0
Net payable: 475.0

In [ ]:
amount=int(input("Enter amount: ")) 
 
if amount<1000: 
    SI=amount*0.05*5
    print ("SI",SI) 
elif amount<5000: 
    SI=amount*0.10*4
    print ("SI",SI) 
else: 
    SI=amount*0.15*3 
    print ("SI",SI) 
print ("Net payable:",amount+SI)

Enter amount: 400
SI 100.0
Net payable: 500.0

In [15]:
x=1
print('Number'+'\t'+'Square')
while x<=10:
  print(str(x)+'\t'+str(x**2))
  x=x+1

Number	Square
1	1
2	4
3	9
4	16
5	25
6	36
7	49
8	64
9	81
10	100

In [25]:
s1='1234567890'
while s1:
  print(s1)
  s1=s1[1:-1]

1234567890
23456789
345678
4567
56