<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/loop_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
count = 0 
while (count < 9): 
   print ('The count is:', count) 
   count = count + 1 
 
print ("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [5]:
count = 20
while (count > 0): 
   print ('The count is:', count) 
   count = count - 1 
 
print ("Good bye!")

The count is: 20
The count is: 19
The count is: 18
The count is: 17
The count is: 16
The count is: 15
The count is: 14
The count is: 13
The count is: 12
The count is: 11
The count is: 10
The count is: 9
The count is: 8
The count is: 7
The count is: 6
The count is: 5
The count is: 4
The count is: 3
The count is: 2
The count is: 1
Good bye!

In [6]:
count = 0 
while count < 5: 
   print (count, " is  less than 5") 
   count = count + 1 
else: 
   print (count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

In [8]:
for letter in 'Python':     # traversal of a string sequence 
   print ('Current Letter :', letter) 
print() 
fruits = ['banana', 'apple',  'mango'] 
for fruit in fruits:        # traversal of List sequence 
   print ('Current fruit :', fruit) 
 
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!

In [9]:
fruits = ['banana', 'apple',  'mango'] 
for index in range(len(fruits)): 
   print ('Current fruit :', fruits[index]) 
print ("Good bye!")

Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!

In [10]:
numbers=[11,33,55,39,55,75,37,21,23,41,13] 
for num in numbers: 
    if num%2==0: 
        print ('the list contains an even number') 
        break 
else: 
    print ('the list doesnot contain even number')

the list doesnot contain even number

In [16]:
for i in range(1,21):
  for j in range(1,11):
    k=i*j
    print(k,end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100
11 22 33 44 55 66 77 88 99 110
12 24 36 48 60 72 84 96 108 120
13 26 39 52 65 78 91 104 117 130
14 28 42 56 70 84 98 112 126 140
15 30 45 60 75 90 105 120 135 150
16 32 48 64 80 96 112 128 144 160
17 34 51 68 85 102 119 136 153 170
18 36 54 72 90 108 126 144 162 180
19 38 57 76 95 114 133 152 171 190
20 40 60 80 100 120 140 160 180 200

In [18]:
for letter in 'Python':     # First Example 
   if letter == 'h': 
      break 
   print ('Current Letter :', letter) 
   
var = 10                    # Second Example 
while var > 0:               
   print ('Current variable value :', var) 
   var = var -1 
   if var == 5: 
      break 
 
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Good bye!

In [21]:
 
for letter in 'Python':     # First Example 
   if letter == 'h': 
      # continue 
      # break
      pass
   print ('Current Letter :', letter) 
 
var = 10                    # Second Example 
while var > 0:               
   var = var -1 
   if var == 5: 
      continue 
   print ('Current variable value :', var) 
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

In [28]:
x=1
print ("number"+'\t'+ "square")
while x <=10:
  print(str(x)+"\t"+str (x**2))
  x=x+1

number	square
1	1
2	4
3	9
4	16
5	25
6	36
7	49
8	64
9	81
10	100

In [29]:
s1='112233445566'
while s1:
  print(s1)
  s1=s1[2:]

112233445566
2233445566
33445566
445566
5566
66

In [33]:
str=input('enter a string: \n')
x=0
while x< len(str)-1:
  if str[x]=='e':
    print(str)
    break
  else:
    print(str)
  x=x+1

enter a string:
drty
drty
drty
drty

In [45]:
mystr=input('input a string: \n')
x=-1
new_str=''
while x< len(str)-1:
  x=x+1
  if mystr[x] in ['a','e','i','o','u']:
    new_str=new_str+'#'
    continue
  new_str=mystr+mystr[x]
print(new_str)

input a string:
The quick brown fox jumps over the lazy dog
The quick brown fox jumps over the lazy dogq