<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 21 
b = 10 
c = 0 
c = a + b 
print ("Line 1 - Value of c is ", c) 
 
c = a - b 
print ("Line 2 - Value of c is ", c ) 
 
c = a * b 
print ("Line 3 - Value of c is ", c) 
 
c = a / b 
print ("Line 4 - Value of c is ", c ) 
 
c = a % b # mode
print ("Line 5 - Value of c is ", c) 
 
a = 2 
b = 3 
c = a**b  
print ("Line 6 - Value of c is ", c) 
 
a = 10 
b = 5 
c = a//b  # floor division
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  11
Line 3 - Value of c is  210
Line 4 - Value of c is  2.1
Line 5 - Value of c is  1
Line 6 - Value of c is  8
Line 7 - Value of c is  2

In [3]:
a = 21 
b = 10 
if ( a == b ): 
   print ("Line 1 - a is equal to b") 
else: 
  print ("Line 1 - a is not equal to b") 
 
if ( a != b ): 
   print ("Line 2 - a is not equal to b") 
else: 
   print ("Line 2 - a is equal to b") 
 
if ( a < b ): 
   print ("Line 3 - a is less than b" ) 
else: 
   print ("Line 3 - a is not less than b") 
 
if ( a > b ): 
   print ("Line 4 - a is greater than b") 
else: 
   print ("Line 4 - a is not greater than b") 
 
a,b=b,a #values of a and b swapped. a becomes 10, b becomes 21 
 
if ( a <= b ): 
   print ("Line 5 - a is either less than or equal to  b") 
else: 
   print ("Line 5 - a is neither less than nor equal to  b") 
 
if ( b >= a ): 
   print ("Line 6 - b is either greater than  or equal to b") 
else: 
   print ("Line 6 - b is neither greater than  nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 3 - a is not less than b
Line 4 - a is greater than b
Line 5 - a is either less than or equal to  b
Line 6 - b is either greater than  or equal to b

In [4]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
print ('a=',a,':',bin(a),'b=',b,':',bin(b)) 
c = 0 
 
c = a & b;        # 12 = 0000 1100 
print ("result of AND is ", c,':',bin(c)) 
 
c = a | b;        # 61 = 0011 1101  
print ("result of OR is ", c,':',bin(c)) 
c = a ^ b;        # 49 = 0011 0001 
print ("result of EXOR is ", c,':',bin(c)) 
 
c = ~a;           # -61 = 1100 0011 
print ("result of COMPLEMENT is ", c,':',bin(c)) 
 
c = a << 2;       # 240 = 1111 0000 
print ("result of LEFT SHIFT is ", c,':',bin(c)) 
 
c = a >> 2;       # 15 = 0000 1111 
print ("result of RIGHT SHIFT is ", c,':',bin(c))

a= 60 : 0b111100 b= 13 : 0b1101
result of AND is  12 : 0b1100
result of OR is  61 : 0b111101
result of EXOR is  49 : 0b110001
result of COMPLEMENT is  -61 : -0b111101
result of LEFT SHIFT is  240 : 0b11110000
result of RIGHT SHIFT is  15 : 0b1111

In [5]:
a = 21 
b = 10 
c = 0 
 
c = a + b 
print ("Line 1 - Value of c is ", c) 
 
c += a 
print ("Line 2 - Value of c is ", c ) 
 
c *= a 
print ("Line 3 - Value of c is ", c ) 
c /= a  
print ("Line 4 - Value of c is ", c ) 
 
c  = 2 
c %= a 
print ("Line 5 - Value of c is ", c) 
 
c **= a 
print ("Line 6 - Value of c is ", c) 
 
c //= a 
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

In [7]:
a = 10 
b = 20 
list = [1, 2, 3, 4, 5 ] 
 
if ( a in list ): 
   print ("Line 1 - a is available in the given list") 
else: 
   print ("Line 1 - a is not available in the given list") 
 
if ( b not in list ): 
   print ("Line 2 - b is not available in the given list") 
else: 
   print ("Line 2 - b is available in the given list") 
 
c=b/a 
if ( c in list ): 
   print ("Line 3 - a is available in the given list") 
else: 
  print ("Line 3 - a is not available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - a is available in the given list

In [8]:
a = 20 
b = 20 
print ('Line 1','a=',a,':',id(a), 'b=',b,':',id(b)) 
 
if ( a is b ): 
   print ("Line 2 - a and b have same identity") 
else: 
   print ("Line 2 - a and b do not have same identity") 
 
if ( id(a) == id(b) ): 
   print ("Line 3 - a and b have same identity") 
else: 
   print ("Line 3 - a and b do not have same identity") 
b = 30 
print ('Line 4','a=',a,':',id(a), 'b=',b,':',id(b)) 
 
if ( a is not b ): 
   print ("Line 5 - a and b do not have same identity") 
else: 
   print ("Line 5 - a and b have same identity")

Line 1 a= 20 : 94088157203552 b= 20 : 94088157203552
Line 2 - a and b have same identity
Line 3 - a and b have same identity
Line 4 a= 20 : 94088157203552 b= 30 : 94088157203872
Line 5 - a and b do not have same identity

In [9]:
a = 20 
b = 10 
c = 15 
d = 5 
 
print ("a:%d b:%d c:%d d:%d" % (a,b,c,d )) 
e = (a + b) * c / d       #( 30 * 15 ) / 5 
print ("Value of (a + b) * c / d is ",  e) 
 
e = ((a + b) * c) / d     # (30 * 15 ) / 5 
print ("Value of ((a + b) * c) / d is ",  e) 
 
e = (a + b) * (c / d)    # (30) * (15/5) 
print ("Value of (a + b) * (c / d) is ",  e) 
 
e = a + (b * c) / d      #  20 + (150/5) 
print ("Value of a + (b * c) / d is ",  e)

a:20 b:10 c:15 d:5
Value of (a + b) * c / d is  90.0
Value of ((a + b) * c) / d is  90.0
Value of (a + b) * (c / d) is  90.0
Value of a + (b * c) / d is  50.0