<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd  
      
# List1  
lst = [['anshu', 29], ['is', 20], 
       ['isnamed', 26], ['sudhanshu', 22]] 
  
# creating df object with columns specified    
df = pd.DataFrame(lst, columns =['Tag', 'number']) 
print(df )

         Tag  number
0      anshu      29
1         is      20
2    isnamed      26
3  sudhanshu      22

In [3]:
df = pd.DataFrame(lst, columns =['Tag', 'number'],dtype='float') 
print(df )

         Tag  number
0      anshu    29.0
1         is    20.0
2    isnamed    26.0
3  sudhanshu    22.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)