<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd  
      
# List1  
lst = [['anshu', 29], ['is', 20], 
       ['isnamed', 26], ['sudhanshu', 22]] 
  
# creating df object with columns specified    
df = pd.DataFrame(lst, columns =['Tag', 'number']) 
print(df )

         Tag  number
0      anshu      29
1         is      20
2    isnamed      26
3  sudhanshu      22