<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/pandas_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
 
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',     
'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],  
        'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],  
        'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],  
        'Points':[876,789,863,673,741,812,756,788,694,701,804,690]} 
df = pd.DataFrame(ipl_data) 
 
print( df )

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [ ]:
team_df=df.groupby('Team')

In [ ]:
print(team_df.groups)

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}

In [ ]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',     
'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],  
        'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],  
        'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],  
        'Points':[876,789,863,673,741,812,756,788,694,701,804,690]} 
df = pd.DataFrame(ipl_data) 
 
print (df.groupby(['Team','Year']).groups )

{('Devils', 2014): [2], ('Devils', 2015): [3], ('Kings', 2014): [4], ('Kings', 2016): [6], ('Kings', 2017): [7], ('Riders', 2014): [0], ('Riders', 2015): [1], ('Riders', 2016): [8], ('Riders', 2017): [11], ('Royals', 2014): [9], ('Royals', 2015): [10], ('kings', 2015): [5]}

In [ ]:
grouped = df.groupby('Year')

for kumar,group in grouped: 
    print (kumar )
    print (group) 
# print (grouped.get_group(2014))

2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

In [ ]:
print( grouped.get_group(2014)  )

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [ ]:
import numpy as np
print( grouped['Points'].agg(np.mean) )

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [ ]:
grouped = df.groupby('Team') 
print (grouped.agg(np.size)  )

        Rank  Year  Points
Team
Devils     2     2       2
Kings      3     3       3
Riders     4     4       4
Royals     2     2       2
kings      1     1       1

In [ ]:
grouped = df.groupby('Team') 
print( grouped['Points'].agg([np.sum, np.mean, np.std]))

         sum        mean         std
Team
Devils  1536  768.000000  134.350288
Kings   2285  761.666667   24.006943
Riders  3049  762.250000   88.567771
Royals  1505  752.500000   72.831998
kings    812  812.000000         NaN

In [ ]:
score = lambda x: (x - x.mean()) / x.std()*10 
print (grouped.transform(score))

         Rank       Year     Points
0  -15.000000 -11.618950  12.843272
1    5.000000  -3.872983   3.020286
2   -7.071068  -7.071068   7.071068
3    7.071068   7.071068  -7.071068
4   11.547005 -10.910895  -8.608621
5         NaN        NaN        NaN
6   -5.773503   2.182179  -2.360428
7   -5.773503   8.728716  10.969049
8    5.000000   3.872983  -7.705963
9    7.071068  -7.071068  -7.071068
10  -7.071068   7.071068   7.071068
11   5.000000  11.618950  -8.157595

In [ ]:
print (df.groupby('Team').filter(lambda x: len(x) >= 3) )

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690

In [ ]:
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [ ]:
df.groupby('Team')

Team
Devils    2.500000
Kings     1.666667
Riders    1.750000
Royals    2.500000
kings     4.000000
Name: Rank, dtype: float64

In [ ]:
print(df.groupby('Team').get_group('Kings'))

    Team  Rank  Year  Points
4  Kings     3  2014     741
6  Kings     1  2016     756
7  Kings     1  2017     788

In [ ]:
print()