<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/pandas_tps_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd 
import numpy as np 
 
#Create a series with 100 random numbers 
s = pd.Series(np.random.randn(10)) 
print (s )

0   -1.397458
1    1.411545
2    0.990013
3   -0.703577
4    0.831539
5   -0.062813
6    0.450629
7    0.505450
8    1.150131
9    1.453679
dtype: float64

In [4]:
import pandas as pd 
import numpy as np 
 
#Create a series with 4 random numbers 
s = pd.Series(np.random.randn(4)) 
print ("The original series is:") 
print( s )

The original series is:
0   -1.094140
1   -1.326303
2   -0.712353
3    1.427964
dtype: float64

In [6]:
 
#Create a series with 4 random numbers 
s = pd.Series(np.random.randn(4)) 
print ("The original series is:") 
print (s )
 
print ("The last two rows of the data series:") 
print (s.tail(2))

The original series is:
0    0.487291
1   -0.376901
2   -0.243060
3   -2.336873
dtype: float64
The last two rows of the data series:
2   -0.243060
3   -2.336873
dtype: float64

In [7]:
 
#Create a Dictionary of series 
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']), 
'Age':pd.Series([25,26,25,23,30,29,23]), 
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])} 
#Create a DataFrame 
df = pd.DataFrame(d) 
print ("Our data series is:") 
print (df )

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80