<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/pandas_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
 
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',     
'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],  
        'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],  
        'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],  
        'Points':[876,789,863,673,741,812,756,788,694,701,804,690]} 
df = pd.DataFrame(ipl_data) 
 
print( df )

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [23]:
team_df=df.groupby('Team')

In [24]:
print(team_df.groups)

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}

In [25]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',     
'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],  
        'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],  
        'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],  
        'Points':[876,789,863,673,741,812,756,788,694,701,804,690]} 
df = pd.DataFrame(ipl_data) 
 
print (df.groupby(['Team','Year']).groups )

{('Devils', 2014): [2], ('Devils', 2015): [3], ('Kings', 2014): [4], ('Kings', 2016): [6], ('Kings', 2017): [7], ('Riders', 2014): [0], ('Riders', 2015): [1], ('Riders', 2016): [8], ('Riders', 2017): [11], ('Royals', 2014): [9], ('Royals', 2015): [10], ('kings', 2015): [5]}

In [38]:
grouped = df.groupby('Year')

for kumar,group in grouped: 
    print (kumar )
    print (group) 
# print (grouped.get_group(2014))

2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

In [39]:
print( grouped.get_group(2014)  )

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [46]:
import numpy as np
print( grouped['Points'].agg(np.mean) )

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64