<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/Pandas_%E2%80%93_Basic_Functionality_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
 
#Create a series with 100 random numbers 
s = pd.Series(np.random.randn(4)) 
print (s )

0   -0.095403
1    1.303966
2    0.019557
3   -0.418132
dtype: float64

In [2]:
import pandas as pd 
import numpy as np 
 
#Create a series with 100 random numbers 
s = pd.Series(np.random.randn(4)) 
print ("The axes are:") 
print (s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [3]:
#Create a series with 100 random numbers 
s = pd.Series(np.random.randn(4)) 
print ("Is the Object empty?") 
print( s.empty)

Is the Object empty?
False

In [5]:
#Create a series with 4 random numbers 
s = pd.Series(np.random.randn(4)) 
print( s )
 
print ("The dimensions of the object:") 
print( s.ndim )

0   -0.474605
1   -1.000776
2    0.613255
3   -0.392624
dtype: float64
The dimensions of the object:
1

In [6]:
print ("The size of the object:") 
print (s.size)

The size of the object:
4

In [7]:
print ("The actual data series is:") 
print (s.values )

The actual data series is:
[-0.47460495 -1.00077559  0.61325481 -0.39262425]

In [8]:
print ("The first two rows of the data series:") 
print (s.head(2) )

The first two rows of the data series:
0   -0.474605
1   -1.000776
dtype: float64

In [9]:
#Create a Dictionary of series 
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']), 
'Age':pd.Series([25,26,25,23,30,29,23]), 
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

In [10]:
#Create a DataFrame 
df = pd.DataFrame(d) 
print ("Our data series is:") 
print (df )

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [11]:
# Create a DataFrame 
df = pd.DataFrame(d) 
print ("The transpose of the data series is:") 
print (df.T)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [12]:
print ("Row axis labels and column axis labels are:") 
print( df.axes )

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [13]:
print ("The data types of each column are:") 
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object