<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/Pandas_%E2%80%93_Reindexing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
 
N=20 
 
df = pd.DataFrame({ 
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'), 
    'x': np.linspace(0,stop=N-1,num=N), 
    'y': np.random.rand(N), 
    'C': np.random.choice(['Low','Medium','High'],N).tolist(), 
    'D': np.random.normal(100, 10, size=(N)).tolist() 
    }) 
 
#reindex the DataFrame 
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B']) 
 
print( df_reindexed )

           A       C   B
0 2016-01-01     Low NaN
2 2016-01-03  Medium NaN
5 2016-01-06     Low NaN

In [2]:
df1=pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3']) 
df2=pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3']) 
 
df1 = df1.reindex_like(df2) 
print( df1 )

       col1      col2      col3
0 -0.781094  0.538043  0.305110
1  0.656366  1.182418  0.728976
2 -0.530303 -1.361983  1.432430
3 -0.235251 -0.087702  1.400682
4 -0.161702 -1.381009 -0.505433
5 -0.247755 -1.631620 -0.067719
6  0.961903  0.739802 -1.891240

In [4]:
df1=pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3']) 
df2=pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3']) 
 
# Padding NAN's 
print (df2.reindex_like(df1) )
 
# Now Fill the NAN's with preceding Values 
print ("Data Frame with Forward Fill:") 
print (df2.reindex_like(df1,method='ffill'))

       col1      col2      col3
0  0.224108  0.445339 -0.697102
1 -1.849296 -1.340779 -0.291597
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:
       col1      col2      col3
0  0.224108  0.445339 -0.697102
1 -1.849296 -1.340779 -0.291597
2 -1.849296 -1.340779 -0.291597
3 -1.849296 -1.340779 -0.291597
4 -1.849296 -1.340779 -0.291597
5 -1.849296 -1.340779 -0.291597

In [5]:
# Padding NAN's 
print( df2.reindex_like(df1)) 
 
# Now Fill the NAN's with preceding Values 
print ("Data Frame with Forward Fill limiting to 1:") 
print (df2.reindex_like(df1,method='ffill',limit=1))

       col1      col2      col3
0  0.224108  0.445339 -0.697102
1 -1.849296 -1.340779 -0.291597
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0  0.224108  0.445339 -0.697102
1 -1.849296 -1.340779 -0.291597
2 -1.849296 -1.340779 -0.291597
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

In [6]:
print ("After renaming the rows and columns:") 
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'}, 
            index={0 : 'apple', 1 : 'banana', 2 : 'durian'}) )

After renaming the rows and columns:
              c1        c2      col3
apple   0.077270  0.694950  0.454452
banana -0.768396  0.302213 -1.112528
durian  1.960300 -1.701854 -1.410096
3       0.807275  0.540104 -1.151572
4       1.171438  0.619650 -0.615572
5      -0.009547 -1.138389 -0.082837