<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/Pandas_%E2%80%93_Function_Application_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Table wise Function Application: pipe() 

Row or Column Wise Function Application: apply() 

Element wise Function Application: applymap()

In [4]:
import pandas as pd 
import numpy as np

In [2]:
def adder(ele1,ele2): 
    return ele1+ele2

In [5]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3']) 
df.pipe(adder,2)

       col1      col2      col3
0  0.215374  1.542417  0.906282
1  0.750324  0.128502  3.950651
2  1.385223  1.894768  3.371455
3  1.700853  2.854102  0.644121
4  1.687863  1.228817  0.988406