<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/Pandas_%E2%80%93_Function_Application_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Table wise Function Application: pipe() 

Row or Column Wise Function Application: apply() 

Element wise Function Application: applymap()

In [4]:
import pandas as pd 
import numpy as np

In [2]:
def adder(ele1,ele2): 
    return ele1+ele2

In [5]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3']) 
df.pipe(adder,2)

       col1      col2      col3
0  0.215374  1.542417  0.906282
1  0.750324  0.128502  3.950651
2  1.385223  1.894768  3.371455
3  1.700853  2.854102  0.644121
4  1.687863  1.228817  0.988406

In [7]:
import pandas as pd 
import numpy as np 
 
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3']) 
df.apply(np.mean) 
print (df)

       col1      col2      col3
0 -0.395985  0.016561 -0.282270
1  0.811910  2.047940  0.545917
2  0.722174  1.261256 -1.438192
3 -0.376841 -0.353157 -1.250243
4  0.193453 -0.745553 -0.979567

In [8]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3']) 
df.apply(np.mean,axis=1) 
print( df )

       col1      col2      col3
0 -2.097512  2.393524  0.705272
1 -1.900818  0.301938  1.901312
2 -1.221688 -1.640550 -0.495835
3 -0.576383 -0.872027  0.895488
4  2.032730  0.005457  0.948448

In [9]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3']) 
df.apply(lambda x: x.max() - x.min()) 
print (df)

       col1      col2      col3
0  0.194462  0.202006 -0.063756
1 -0.485811 -1.624139  0.384270
2 -0.976571 -0.749045  1.216321
3 -0.354856 -0.951962  0.580663
4  0.424925 -0.538309  0.844479