<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#code for disabling the softspace feature
print('N','I','T', sep='.')
 
#for formatting a date
print('05','09','2001', sep='/')
 
#another example
print('ANSHU','NITP', sep='@')

N.I.T
05/09/2001
ANSHU@NITP

In [4]:
Tuple_1 = ()
print("Initial empty Tuple: ")
print(Tuple_1)
 
# Creating a Tuple
# with the use of string
Tuple1 = ('YOUTUBE', 'IS')
print("\nTuple with the use of String: ")
print(Tuple1)
 
# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

Initial empty Tuple:
()

Tuple with the use of String:
('YOUTUBE', 'IS')

Tuple using List:
(1, 2, 4, 5, 6)

In [5]:

String1 = 'Welcome to NIT PATNA'
print("String with the use of Single Quotes: ")
print(String1)
 
# Creating a String
# with double Quotes
String1 = "I'm a PG scholar"
print("\nString with the use of Double Quotes: ")
print(String1)

String with the use of Single Quotes:
Welcome to NIT PATNA

String with the use of Double Quotes:
I'm a PG scholar