<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/variable_type_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

str = 'Hello World!' 
print (str)          # Prints complete string 
print (str[0])       # Prints first character of the string 
print (str[2:5])     # Prints characters starting from 3rd to 5th 
print (str[2:])      # Prints string starting from 3rd character 
print (str * 2)      # Prints string two times 
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [9]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ] 
tinylist = [123, 'john'] 
print (list)          # Prints complete list 
print (list[0])       # Prints first element of the list 
print (list[1:3])     # Prints elements starting from 2nd till 3rd  
print (list[2:])      # Prints elements starting from 3rd element 
print (tinylist * 2)  # Prints list two times 
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [19]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  ) 
tinytuple = (123, 'john') 
print (tuple)           # Prints complete tuple 
print (tuple[0])        # Prints first element of the tuple 
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd  
print (tuple[2:])       # Prints elements starting from 3rd element 
print (tinytuple * 2)   # Prints tuple two times 
print (tuple + tinytuple) # Prints concatenated tuple 

tinytuple=tinytuple*2
tinytuple
# del tinytuple[0]
tinytuple[2]=100

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

TypeError: ignored

In [33]:
dict = {} 
dict['one'] = "This is one" 
dict[2]     = "This is two" 
tinydict = {'name': 'john','code':6734, 'dept': 'sales'} 
dict[3] = {'name': 'john','code':6734, 'dept': 'sales'} 
# print (dict['one'])       # Prints value for 'one' key 
# print (dict[2])           # Prints value for 2 key 
# print (tinydict)          # Prints complete dictionary 
print (dict.keys())   # Prints all the keys 
print (dict.values()) # Prints all the values 
print(dict)

dict_keys(['one', 2, 3])
dict_values(['This is one', 'This is two', {'name': 'john', 'code': 6734, 'dept': 'sales'}])
{'one': 'This is one', 2: 'This is two', 3: {'name': 'john', 'code': 6734, 'dept': 'sales'}}

In [26]:
# Python 3 â€“ Basic Operators

* Arithmetic Operators 
* Comparison (Relational) Operators 
* Assignment Operators 
* Logical Operators 
* Bitwise Operators 
* Membership Operators 
* Identity Operators

In [43]:
a = 21 
b = 10 
c = 0 
c = a + b 
print ("Line 1 - Value of c is ", c) 
 
c = a - b 
print ("Line 2 - Value of c is ", c ) 
 
c = a * b 
print ("Line 3 - Value of c is ", c) 
 
c = a / b 
print ("Line 4 - Value of c is ", c ) 

c = a//b 
c

c = a % b 
print ("Line 5 - Value of c is ", c) 
 
a = 2 
b = 3 
c = a**b  
print ("Line 6 - Value of c is ", c) 
 
a = 10 
b = 5 
c = a//b  
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  11
Line 3 - Value of c is  210
Line 4 - Value of c is  2.1
Line 5 - Value of c is  1
Line 6 - Value of c is  8
Line 7 - Value of c is  2

In [45]:
# a = 21 
# b = 10 
# if ( a == b ): 
#    print ("Line 1 - a is equal to b") 
# else: 
#    print ("Line 1 - a is not equal to b") 
 
# if ( a != b ): 
#    print ("Line 2 - a is not equal to b") 
# else: 
#    print ("Line 2 - a is equal to b") 
 
# if ( a < b ): 
#    print ("Line 3 - a is less than b" ) 
# else: 
#    print ("Line 3 - a is not less than b") 
 
# if ( a > b ): 
#    print ("Line 4 - a is greater than b") 
# else: 
#    print ("Line 4 - a is not greater than b") 
a = 21 
b = 10 
a,b=b,a #values of a and b swapped. a becomes 10, b becomes 21 
 
if ( a <= b ): 
   print ("Line 5 - a is either less than or equal to  b") 
else: 
   print ("Line 5 - a is neither less than nor equal to  b") 
 
if ( b >= a ): 
   print ("Line 6 - b is either greater than  or equal to b") 
else: 
   print ("Line 6 - b is neither greater than  nor equal to b")

Line 5 - a is either less than or equal to  b
Line 6 - b is either greater than  or equal to b

# Python Assignment Operators

In [55]:
a = 21 
b = 10 
c = 0 
 
# c = a + b 
# print ("Line 1 - Value of c is ", c) 
 
# c += a 
# print ("Line 2 - Value of c is ", c ) 
 
c *= a 
print ("Line 3 - Value of c is ", c ) 

c /= a  
print ("Line 4 - Value of c is ", c ) 
 
c  = 2

c %= a 
print ("Line 5 - Value of c is ", c) 

c **= a 
print ("Line 6 - Value of c is ", c) 
 
c=50
a=6
c //= a 
print ("Line 7 - Value of c is ", c)

Line 3 - Value of c is  0
Line 4 - Value of c is  0.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  8

In [60]:
a = 10 
b = 20 
list = [1, 2, 3, 4, 5 ] 
 
if ( a in list ): 
   print ("Line 1 - a is available in the given list") 
else: 
   print ("Line 1 - a is not available in the given list") 
 
if ( b not in list ): 
   print ("Line 2 - b is not available in the given list") 
else: 
   print ("Line 2 - b is available in the given list") 
 
c=b/a 
if ( c in list ): 
   print ("Line 3 - c is available in the given list") 
else: 
  print ("Line 3 - c is not available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - c is available in the given list

In [65]:
a = 20 
b = 20 
print ('Line 1','a=',a,':',id(a), 'b=',b,':',id(b)) 
 
if ( a is b ): 
   print ("Line 2 - a and b have same identity") 
else: 
   print ("Line 2 - a and b do not have same identity") 
 
if ( id(a) == id(b) ): 
   print ("Line 3 - a and b have same identity") 
else: 
   print ("Line 3 - a and b do not have same identity") 
b = 30 
print ('Line 4','a=',a,':',id(a), 'b=',b,':',id(b)) 
 
if ( a is not b ): 
   print ("Line 5 - a and b do not have same identity") 
else: 
   print ("Line 5 - a and b have same identity")

Line 1 a= 20 : 11256672 b= 20 : 11256672
Line 2 - a and b have same identity
Line 3 - a and b have same identity
Line 4 a= 20 : 11256672 b= 30 : 11256992
Line 5 - a and b do not have same identity