<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/variable_type_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

str = 'Hello World!' 
print (str)          # Prints complete string 
print (str[0])       # Prints first character of the string 
print (str[2:5])     # Prints characters starting from 3rd to 5th 
print (str[2:])      # Prints string starting from 3rd character 
print (str * 2)      # Prints string two times 
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [9]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ] 
tinylist = [123, 'john'] 
print (list)          # Prints complete list 
print (list[0])       # Prints first element of the list 
print (list[1:3])     # Prints elements starting from 2nd till 3rd  
print (list[2:])      # Prints elements starting from 3rd element 
print (tinylist * 2)  # Prints list two times 
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [19]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  ) 
tinytuple = (123, 'john') 
print (tuple)           # Prints complete tuple 
print (tuple[0])        # Prints first element of the tuple 
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd  
print (tuple[2:])       # Prints elements starting from 3rd element 
print (tinytuple * 2)   # Prints tuple two times 
print (tuple + tinytuple) # Prints concatenated tuple 

tinytuple=tinytuple*2
tinytuple
# del tinytuple[0]
tinytuple[2]=100

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

TypeError: ignored

In [33]:
dict = {} 
dict['one'] = "This is one" 
dict[2]     = "This is two" 
tinydict = {'name': 'john','code':6734, 'dept': 'sales'} 
dict[3] = {'name': 'john','code':6734, 'dept': 'sales'} 
# print (dict['one'])       # Prints value for 'one' key 
# print (dict[2])           # Prints value for 2 key 
# print (tinydict)          # Prints complete dictionary 
print (dict.keys())   # Prints all the keys 
print (dict.values()) # Prints all the values 
print(dict)

dict_keys(['one', 2, 3])
dict_values(['This is one', 'This is two', {'name': 'john', 'code': 6734, 'dept': 'sales'}])
{'one': 'This is one', 2: 'This is two', 3: {'name': 'john', 'code': 6734, 'dept': 'sales'}}

In [26]:
# Python 3 â€“ Basic Operators