<a href="https://colab.research.google.com/github/SUDHANSHU4497/practice/blob/main/variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
matches = 100          # An integer assignment 
runs   = 1000.0       # A floating point 
player    = "John"       # A string 
print (matches) 
print (runs) 
print (player)

100
1000.0
John

In [2]:
# Multiple Assignment
a=b=c=5

In [3]:
print(a,b,c)

5 5 5

In [4]:
 a, b, c = 3, 28, "anshu" 
 print(a,b,c)

3 28 anshu